/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */

@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

/* End Fonts */


/* Start Global rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* End Global rules */


/* Start body rules */

body {
    background-image: linear-gradient(-225deg, #4a615a 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #1c524f 0%, #fed0df 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    /*   the main font */
    font-family: 'Abel', sans-serif;
    opacity: .95;
    /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}


/* |||||||||||||||||||||||||||||||||||||||||||||*/


/* //////////////////////////////////////////// */


/* End body rules */


/* Start form  attributes */

form {
    width: 428px;
    min-height: 520px;
    height: auto;
    border-radius: 22px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #14ffb7 50%, #FFE6FA 50%);
    margin-left: 10px;
}


/* form Container */

form .con {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}


/* the header form form */

header {
    margin: 2% auto 10% auto;
    text-align: center;
}


/* Login title form form */

header h2 {
    font-size: 345%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}


/*  A welcome message or an explanation of the login form */

header p {
    letter-spacing: 0.05em;
    font-size: 152%;
}


/* //////////////////////////////////////////// */


/* //////////////////////////////////////////// */

.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}


/* Show/hide password Font Icon */

#eye {
    background: #fff;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    cursor: pointer;
}

.form-input {
    border-radius: 25px;
    border: 2px solid #4ddce7;
    padding: 20px;
    width: 353px;
    height: 27px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}


/* inputs form  */

input[class="form-input"] {
    width: 240px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

input[id="txt-input"] {
    width: 250px;
}


/* focus  */

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


/* //////////////////////////////////////////// */


/* //////////////////////////////////////////// */


/* input[type="text"] {min-width: 250px;} */


/* buttons  */

.log-in {
    display: inline-block;
    margin: 35px;
    padding: 5px 71px;
    font-size: 29px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1515e9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #322035;
}

.log-in:active {
    background-color: #0aface;
    box-shadow: 0 5px #da9696;
    transform: translateY(4px);
}

.log-in:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* Submits */

.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}


/*       Forgot Password button FAF3DD  */

.frgt-pass {
    background: transparent;
}


/*     Sign Up button  */

.sign-up {
    background: #B8F2E6;
}


/* buttons hover */

button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

.other p a {
    color: #FF0000;
    text-decoration: none;
}

.other p {
    font-size: 153%;
}


/* buttons hover Animation */

button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}